<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <style>
        li {
            list-style: none;
        }
    </style>
</head>

<body>
    {{> header}}

    <p>Below is a list of my projects</p>
    <ul>
        <li>
            <a href={{link1}} target="_blank">{{project1}}</a>
        </li>
        <li>
            <a href={{link2}} target="_blank">{{project2}}</a>
        </li>
        <li>
            <a href={{link3}} target="_blank">{{project3}}</a>
        </li>
        <li>
            <a href={{link4}} target="_blank">{{project4}}</a>
        </li>
        <li>
            <a href={{link5}} target="_blank">{{project5}}</a>
        </li>
    </ul>

    {{> footer}}
</body>

</html>